<!DOCTYPE html>
<html>
<head>
    <title>Spotify Lyrics</title>
</head>
<body>
    <div id="currently-playing">
        <h2>Currently Playing</h2>
        {% if currently_playing and currently_playing.item %}
            <p id="songTitle">{{ currently_playing.item.name }}</p>
            <p id="songArtist">by: {{ currently_playing.item.artists[0].name }}</p>
            <p id="songLyrics">lyrics: {{ lyrics }}</p>
        {% else %}
            <p id="songTitle">No song currently playing</p>
        {% endif %}
    </div>
</body>
</html>
